<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :faculty_id %>
    <%= form.collection_select :faculty_id, Faculty.all, :id, :name %>
  </div>

  <div class="field">
    <% for i in 1..4 %>
      <%= form.radio_button :grade, i, style: 'display: inline' %>
      <%= form.label :grade, "#{i}年", value: i, style: 'display: inline' %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
