<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= student.faculty.name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student.grade %>
  </p>

</div>
