<h1>成績を指定して学生を検索</h1>

<%= form_with(local: true) do |form| %>

  <div class="field">
    <%= form.label :course, '科目' %>
    <%= form.collection_select :course, Course.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :score, '成績' %>
    <%= form.select :score, {'S' => 'S', 'A' => 'A', 'B' => 'B', 'C' => 'C', 'D' => 'D'} %>
  </div>

  <div class="actions">
    <%= form.submit '検索' %>
  </div>

<% end %>
