<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @student.faculty_id %>
</p>

<p>
  <% if @student.photo.attached? %>
    <%= image_tag url_for(@student.photo), height: 100 %>
  <% else %>
    No Image
  <% end %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
