<div id="<%= dom_id score %>">
  <p>
    <strong>Student:</strong>
    <%= score.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= score.course_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= score.score %>
  </p>

</div>
