<h1>Welcome#index</h1>

<% if user_signed_in? %>
  <p>You are <%= current_user.email %></p>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to 'Login', new_user_session_path %>
<% end %>

