<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <div>
      <%= image_tag 'http://www.sfc.keio.ac.jp/img/logo.png', width: 200, style: 'margin: 20px' %>
    </div>
  </body>
</html>
